<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wall Street Market seized by law enforcement agencies from Germany, the US, the Netherlands, and Romania.</title>
		<!-- 设置横屏、竖屏显示，portrait 横屏，landscape 竖屏-->
		<meta name="x5-orientation" content="portrait|landscape">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!-- 禁止自动识别日期 -->
		<meta name="format-detection" content="date=no">
		<!-- 禁止自动自动识别 Email -->
		<meta name="format-detection" content="email=no">
		<script src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
    	<link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/timeline.css">
		<link rel="stylesheet" href="../static/css/event_weibu.css">

		<script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#back-top').addClass('show-totop');
                    } else {
                        $('#back-top').removeClass('show-totop');
                    }
                });
                $('#back-top').find('a').click(function () {
                    $('body,html').stop(false, false).animate({scrollTop: 0}, 150);
                    return false;
                });
            });
        })(jQuery);
    	</script>

		<style>
				#back-top {
					position: fixed;
					visibility: hidden;
					margin: 0 20px 20px 0;
					right: 0;
					bottom: -100px;
					overflow: hidden;
					z-index: 99;
				}

				#back-top.show-totop {
					visibility: visible;
					bottom: 0;
				}

				#back-top.mobile-back-top {
					-webkit-transform: scale(0.7);
					-ms-transform: scale(0.7);
					-o-transform: scale(0.7);
					transform: scale(0.7);
					margin: 0 2px 1px 0;
				}

				#back-top a {
					background: #555555;
					cursor: pointer;
				}

				#back-top a:hover {
					background: #fcc300;
				}

				#back-top a {
					display: block;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					text-align: center;
					text-decoration: none;
					color: #fff;
				}

				#back-top a:before {
					content: '\f077';
					font: 25px/50px FontAwesome;
				}

   		 </style>

	</head>
	<body>
		<div class="content">
			<div class="left">
				<div class="box-shadows">

					<div id="back-top">
						<a href="#" title="Back To Top"></a>
					</div>

					<div class="brief">

						<!-- 头部标签开始 -->
						<div class="top-bar clearfix">
							<div class="cTag-list">
								<span class="vb-cTag">安全事件讨论</span>
							</div>
							<div class="pull-right">
								<div class="operation">
									<div class="quick-comment">
									</div>
									<div class="quick-praise">
									</div>
								</div>
							</div>
						</div>
						<!-- 头部标签结束 -->

						<div class="J-title">
							Wall Street Market seized by law enforcement agencies from Germany, the US, the Netherlands, and Romania.
						</div>

						<!-- 事件，论坛，浏览量开始 -->
						<div class="info">
							<div class="publisher">
								 hackforums论坛
							</div>
							<div class="sp-article__time">
							</div>
							<div class="time">
								<img class="info_time" src="{{ url_for('static', filename='image/time.png') }}">
								2019/05/03-2019/05/10
							</div>
							<div class="broswer">
								10人参与
							</div>
						</div>
						<!-- 事件，论坛，浏览量结束 -->

					</div>

					<div class="article-content simditor-body">
						<!--<p>-->
							<!--<b>-->
								<!--TGA:-->
							<!--</b>-->
							<!--暗网、交易、加密货币、毒品、武器-->
						<!--</p>-->
						<p>
							<b>日期:
							</b>
							2019-05-03
						</p>
						<h2>
							<b>
								概要
							</b>
							</br>
						</h2>

						<!-- 概要说明，支持点击收起功能 -->
						<div id="box">
							<p>
								<pre>
	German police, together with Europol and law enforcement agencies from the US, the Netherlands, and Romania, have seized the servers of a dark web marketplace known as the Wall Street Market, on which users sold illegal products such as drugs, weapons, user credentials, and hacking tools, ZDNet has learned.

            The site's seizure comes after a tumultuous two weeks for the Wall Street Market (WSM) and its users, during which the site's administrators have exit-scammed --ran away with over $14.2 million worth of cryptocurrency from users and vendors' accounts.

								</pre>

							</p></br>
						</div>
						<script> 
							function show(){ 
								var box = document.getElementById("box");
								var text = box.innerHTML;               //text是所有的文本
								var newBox = document.createElement("div"); //截取要一开始先显示的一部分放入newBox里面
								var btn = document.createElement("a"); 
								newBox.innerHTML = text.substring(0,300); 
								btn.innerHTML = text.length > 300 ? "...显示全部" : ""; 
								btn.href = "###"; 
								btn.onclick = function(){ 
									if (btn.innerHTML == "...显示全部"){ 
											btn.innerHTML = "收起"; 
											newBox.innerHTML = text; 
										}
									else{ 
											btn.innerHTML = "...显示全部"; 
											newBox.innerHTML = text.substring(0,300); 
										} 
									} 
								box.innerHTML = ""; 
								box.appendChild(newBox); 
								box.appendChild(btn); 
							} 
							show(); 
						</script>
					</div>
					<!-- 概要展示结束 -->

					<!-- 事件时间轴展示 -->
					<div>
						<article>

							<section>
								<span class="point-time point-green"></span>
								<time datetime="2013-03">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">https://www.zdnet.com/article/law-enforc...edentials/
									Wall Street Market seized by law enforcement agencies from Germany, the US, the Netherlands, and Romania.
									want talk, PM me.
									</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/duck">
											duck
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-green"></span>
								<time datetime="2012-11">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">The other big dark web marketplace --the Dream Market-- previously announced it was shutting down on April 30, which is coincidentally on the same day that the WSM backend started showing the above error</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/forbidden">
											forbidden
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-red"></span>
								<time datetime="2012-09">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">Damn this is sad :( my favorite market honestly. But I stopped using the dark web and I am glad I did. Too many seizures going on.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/Cocaine">
											Cocaine
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-08">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">I thought the earlier news reports said they exit scammed?
									</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/ZietzSeV">
											ZietzSeV
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-red"></span>
								<time datetime="2012-03">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">Exit scammed and stole 14.2 million in cryptocurrency from its vendors and customers.
									</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/forbidden">
											forbidden
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-02">
									<span>05-03</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">I'm getting out of using Dream Market, just incase this is the real truth... Damn feds.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/GnosticPlayers">
											GnosticPlayers
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-02">
									<span>05-05</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things"> I applaud law enforcement.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/SIGRU">
											SIGRU
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-02">
									<span>05-08</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">You would think that you would be absolutely on edge 24-7 when conducting such business online.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/Vendetta">
											Vendetta
										</a>
									</p>
								</aside>
							</section>
							<section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-02">
									<span>05-09</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things">I always use a sandbox.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/Vendetta">
											Vendetta
										</a>
									</p>
								</aside>
							</section>
							 <section>
								<span class="point-time point-blue"></span>
								<time datetime="2012-02">
									<span>05-10</span>
									<span>2019</span>
								</time>
								<aside>
									<p class="things"> they talk about monitoring 2 of the guys involved after they connected to some backend stuff, they talk about a gitlab server where they hosted the in dev source.</p>
									<p class="brief">
										<a style="padding-left:20px" class="text-green" href="echats/MaximumPain">
											MaximumPain
										</a>
									</p>
								</aside>
							</section>


						</article>
					</div>
					<!-- 时间轴结束 -->

					<!-- 相关链接div开始 -->
					<div class="relate clearfix">
					  <div class="link">
						相关链接
						<a style="color: #3fa9f5;float:right;padding-left:20px;" href="https://hackforums.net/showthread.php?tid=5966146" target="_blank">https://hackforums.net/showthread.php?tid=5966146</a>
					  </div>
					</div>
					<!-- 相关链接div结束 -->

					<!-- IOC表格div开始 -->
					<div class="ioc-list">
						<div class="bordered-box">
							<div class="header">
								<div>威胁指标（IOC）</div>
							</div>

							<div class="ioc-list-body">

								<!-- 域名div开始 -->
								<div class="domain">
								  <table class="ioclist-table J-ioclist-table">
									<thead>
									  <tr>
										<th>
											<span class="left-bordered">
												域名
											</span>
										</th>
										<th>注册商</th>
										<th>注册时间</th>
										<th>过期时间</th>
										<th>注册电话</th>
										<th>DNS信息</th>
									  </tr>
									</thead>

									<tbody>
										<tr>
										  <td>
											  <a href="http://www.zdnet.com" target="_blank">
												 www.zdnet.com
											  </a>
										  </td>
										  <td>MarkMonitor Inc.</td>
										  <td>1995/04/27</td>
										  <td>2021/04/28</td>
										  <td>**** 95740</td>
										  <td>NS10.CBSIG.NET</td>
										</tr>
									</tbody>

								  </table>
								</div>
								<!-- 域名div结束 -->

								<!-- IP div开始 -->
								<div class="ip">
								  <table class="ioclist-table J-ioclist-table">
									<thead>
									  <tr>
										<th>
											<span class="left-bordered">
												IP
											</span>
										</th>
										<th>是否恶意</th>
										<th>地理位置</th>
										<th>恶意分类</th>
										<th>IP类型</th>
									  </tr>
									</thead>

									<tbody>
										<tr>
										  <td>
											  <a href="#" target="_blank">

											  </a>
										  </td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										</tr>
									</tbody>

								  </table>
								</div>
								<!-- IP div结束 -->

								<!-- hash div开始 -->
								<div class="hash">
								  <div class="loading"></div>
								  <table class="ioclist-table hashlist-table J-ioclist-table">
									<thead>
									  <tr>
										<th>
										  <span class="left-bordered">
											Hash
										  </span>
										</th>
										<th>文件长度</th>
										<th>是否存档</th>
										<th>当前版本</th>
										<th>威胁等级</th>
									  </tr>
									</thead>

									<tbody>
										<tr>
										  <td>
											  <a href="#" target="_blank">

											  </a>
										  </td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										</tr>
									</tbody>

								  </table>
								</div>
								<!-- hash div结束 -->

								<!-- 邮箱div开始 -->
								  <div class="email">
								  <table class="ioclist-table hashlist-table J-ioclist-table">
									<thead>
									  <tr>
										<th>
										  <span class="left-bordered">
											Email
										  </span>
										</th>
										<th>注册地</th>
										<th>服务商</th>
										<th>用户</th>
										<th>邮箱类型</th>
									  </tr>
									</thead>

									<tbody>
										<tr>
										  <td>
											  <a href="#" target="_blank">

											  </a>
										  </td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										  <td></td>
										</tr>
									</tbody>

								  </table>
								</div>
								<!-- 邮箱div结束 -->

								<!-- CVE IOC开始 -->
								<div class="cve">
								  <table class="ioclist-table domainlist-table J-ioclist-table">
									<thead>
									  <tr>
										<th>
											<span class="left-bordered">
												CVE编号
											</span>
										</th>
										<th>发布时间</th>
										<th>威胁分数</th>
										<th>漏洞类型</th>
										<th>影响设备</th>
									  </tr>
									</thead>

									<tbody>
										<tr class="J-domain-tr">
											<td>
												<a href="#" target="_blank">

												</a>
											</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>

								  </table>
								</div>
								<!-- CVE IOC结束 -->

							</div>
						</div>
					</div>
					<!-- IOC表格div结束 -->

					<!-- 手势点赞开始 -->
					<div class="oper-area">
						<div>
							ThreatMiner--面向黑客论坛的威胁情报分析系统
						</div>
					</div>
					<!-- 手势点赞结束 -->

				</div>
			</div>

			<!-- 右边div开始 -->
			<div class="right">

				<!-- 标题开始 -->
				<div class="recommend-block-title text-center">
					<div class="sp-article sp-article__calendar">
						<img class="calendar" src="{{ url_for('static', filename='image/calendar.png') }}"/>
					</div>
					相关事件
				</div>
				<!-- 标题结束 -->

				<!-- IOC相关开始 -->
				<div class="recommened-intelli">


					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-05-03
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = '540 Million Facebook Users Information Leaked' )  }}">540 Million Facebook Users Information Leaked</a>
							</div>
							<div class="intelli-user">
								<a href="echats/Vendetta">
								 Vendetta
								</a>
								<span class="user-industry">1</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-04-28
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = 'USA Palantir\'s software was used for deportations.')  }}">USA Palantir's software was used for deportations.</a>
							</div>
							<div class="intelli-user">
								<a href="echats/Vendetta">
								 Vendetta
								</a>
								<span class="user-industry">2</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-04-28
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = 'WikiLeaks founder Julian Assange arrested in London.')  }}">WikiLeaks founder Julian Assange arrested in London.</a>
							</div>
							<div class="intelli-user">
								<a href="echats/duck">
									 duck
								</a>
								<span class="user-industry">3</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-04-23
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = 'Instagram Influencer Faces 20 Years Prison for Robbing Domain at Gunpoint')  }}">Instagram Influencer Faces 20 Years Prison for Robbing Domain at Gunpoint</a>
							</div>
							<div class="intelli-user">
								<a href="echats/forbidden">
									 forbidden
								</a>
								<span class="user-industry">4</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-03-14
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = 'World Congress Asks Google 10 Questions On Its Location Tracking Database')  }}">World Congress Asks Google 10 Questions On Its Location Tracking Database</a>
							</div>
							<div class="intelli-user">
								<a href="echats/ZietzSeV">
								 ZietzSeV
								</a>
								<span class="user-industry">5</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-03-02
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = ' World APT34 Hacking Tools Leak') }}"> World APT34 Hacking Tools Leak</a>
							</div>
							<div class="intelli-user">
								<a href="echats/forbidden">
								 forbidden
								</a>
								<span class="user-industry">6</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

					<div class="recommended-intelli-item">
						<!-- 时间信息开始 -->
						<div class="text-center intelli-ioc-count">
							2019-02-28
						</div>
						<!-- 时间信息结束 -->

						<!-- 事件块内部信息 -->
						<div class="intelli-info">
							<div class="intelli-title">
								<a href="{{ url_for('main.event_detail', title = 'World Intel Patches Vulnerabilities With High-Severity Ratings')  }}">World Intel Patches Vulnerabilities With High-Severity Ratings</a>
							</div>
							<div class="intelli-user">
								<a href="echats/duck">
								 duck
								</a>
								<span class="user-industry">7</span>
							</div>
						</div>
						<!-- 事件块内部信息结束 -->

						<!-- 框线开始 -->
						<div class="link link-left">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>

						<div class="link link-right">
							<div class="point"></div>
							<div class="line"></div>
							<div class="center-point"></div>
						</div>
						<!-- 框线结束 -->
					</div>
					<!--一个事件关联块结束-->

				</div>
				<!-- IOC块结构结束 -->

			</div>
			<!-- 右边div结束 -->
		</div>
	</body>
</html>
